html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 64px;
    border-bottom: 1px solid black;
}

header p{
    font-size: 32px;
    height: 45px;
}

header img, .row{
    height: 64px;
}

header div{
    padding-top: 3px;
    margin: 0 24px !important;
    height: 64px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

a {
    margin: 0;
    padding: 0 16px;
    color: inherit !important;
}

a:hover{
    text-decoration: none !important;
}