html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 64px;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    .mobile{
        display: none;
    }
    .mobile-image{
        padding: 0 !important;
    }
    .desktop{
        width: 92%;
        margin-bottom: 15px;
    }
    .mobile-image img{
        width: 85%;
        margin: 15px;
    }
    .desktop-nav{
        display: none;
    }
    .bg-mobile{
        background-color: white !important;
    }
    .mobile-width{
        width: 90% !important;
    }
    .mobile-padding{
        padding-right: 17px;
    }
    header p{
        display: none;
    }
    header nav {
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;
    }
    .large{
        width: 100%;
    }
    video{
        width: 100%;
        padding: 0 25px 25px 25px;
    }
    .bg-grey{
        background-color: rgb(230, 230, 230);
    }
    section{
        color: rgb(53, 53, 53);
    }    
    button{
        background-color: rgb(53, 53, 53);
        border: none;
        color: white;
        padding: 15px 32px;
        width: 100%;
    }
    .learn-something h2, .keep-practicing h2, .start-learning h2, .thesis-exhibit h2{
        font-weight: bold;
        font-size: 2.5rem;
        padding: 25px 0;
    }
    .learn-something h5{
        font-size: 1.3rem;
        padding-bottom: 20px;
    }
    .center{
        margin: auto !important;
    }
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .mobile-nav{
        display: none;
    }

    .desktop{
        display: none;
    }

    header p{
        font-size: 32px;
        height: 45px;
    }
    
    header img, .row{
        height: 64px;
    }
    
    header div{
        padding-top: 3px;
        margin: 0 24px !important;
        height: 64px;
    }
    
    div{
        margin: 0 !important;
    }
    
    header nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 1rem;
    }
    
    nav a{
        color: inherit !important;
        padding: 0 16px;
    }
    
    a {
        margin: 0;
    }
    
    a:hover{
        text-decoration: none !important;
    }
    
    .bg-grey{
        background-color: rgb(230, 230, 230);
    }
    
    section{
        color: rgb(53, 53, 53);
    }
    
    section .large{
        width: 90%;
        padding: 32px 24px;
    }
    
    .row{
        height: 100%;
    }
    
    button{
        background-color: rgb(53, 53, 53);
        border: none;
        color: white;
        padding: 15px 32px;
        width: 100%;
    }
    
    .center{
        margin: auto !important;
    }
    
    .learn-something h2, .keep-practicing h2, .start-learning h2, .thesis-exhibit h2{
        font-weight: bold;
        font-size: 3rem;
        padding: 32px 0;
    }
    
    .learn-something h5{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    
    .keep-practicing a{
        font-size: 1rem;   
    }
    
    .small{
        padding: 16px 15px 16px 15px;
    }
    
    .border-class{
        border-bottom: 1px solid rgb(200, 200, 200);
        border-left:  1px solid rgb(200, 200, 200);
    }
    
    .card{
        height: 420px;
    
    }
    
    footer{
        border-top: 1px solid rgb(200, 200, 200);
    }
    
    footer div{
        padding: 16px;
    }
    
    video{
        width: 100%;
        padding: 0 25px 25px 25px;
    }
  }