html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 64px;
}

header p{
    font-size: 32px;
    height: 45px;
}

header img, .row{
    height: 64px;
}

header div{
    padding-top: 3px;
    margin: 0 24px !important;
    height: 64px;
}

div{
    margin: 0 !important;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

nav a{
    color: inherit !important;
    padding: 0 16px;
}

a {
    margin: 0;
}

a:hover{
    text-decoration: none !important;
}

.bg-grey{
    background-color: rgb(200, 200, 200);
}

section{
    color: rgb(53, 53, 53);
}

section .large{
    width: 90%;
    padding: 32px 24px;
}

.row{
    height: 100%;
}

button{
    background-color: rgb(53, 53, 53);
    border: none;
    color: white;
    padding: 15px 32px;
    width: 100%;
}

.center{
    margin: auto !important;
}

.learn-something h2, .keep-practicing h2, .start-learning h2{
    font-weight: bold;
    font-size: 3rem;
    padding: 32px 0;
}

.learn-something h5{
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.keep-practicing a{
    font-size: 1rem;   
}

.small{
    padding: 16px 15px 16px 15px;
}

.border-class{
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left:  1px solid rgb(200, 200, 200);;
}